@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none !important;
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  cursor: text !important;
}
